{% extends 'shopframe/base.html' %}
{% block content %}

<h1 class='header center'>Welcome to the animal shop!</h1>
<div class='container'>
    {% for animal in animals %}
    <div class='row'>
        <div class='col-6 center'>
            <a href="{% url 'animal_detail' id_animal=animal.id_animal %}">{{animal.id_animal}}</a>
        </div>
        <div class='col-6 center'>
            {{animal.lieu}}, {{animal.etat}}
        </div>
    </div>
    {% endfor %}
    {% for equipement in equipements %}
    <div class='row'>
        <div class='col-6 center'>
            {{equipement.id_equip}}
        </div>
        <div class='col-6 center'>
            {{equipement.disponibilite}}
        </div>
    </div>
    {% endfor %}
</div>
    
{% endblock %}


