<!DOCTYPE html>
{% load static %}
<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>An animal shop</title>
</head>

<body>
    <h1 class='header center'>Welcome to the animal shop!</h1>

    {% block content %}
    {% endblock %}


</body>

</html>